@{ 
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendar</title>
</head>
<body>
  <style>
    html {
      height: 100%;
      width: 100%;
      font-family: sans-serif;
    }

    body {
      margin: 0;
      height: 100%;
      width: 100%;
    }

    ol {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      list-style: none;
    }

    .calendar {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: 4px solid #000;
      background-color: #000;
      color: #fff;
    }

    .month-label {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .day-of-week-labels, .date-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .day-of-week-labels {
      justify-items: center;
      align-items: stretch;
    }

    .date-grid {
      flex: 1 1 auto;
      gap: 4px;
    }

      .date-grid li {
        background: #fff;
        color: #000;
      }

      .date-grid::before, .date-grid::after {
        content: "";
        background-color: #ddd;
      }

      .date-grid::before {
        grid-column: span 5;
      }

      .date-grid::after {
        grid-column: span 1;
      }
  </style>
  <div class="calendar">
    <div class="month-label">October</div>
    <ol class="day-of-week-labels">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ol>
    <ol class="date-grid">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
    </ol>
  </div>
</body>
</html>
